harvest:
  subdomain: mysubdomain
  username: myusername
  password: mypassword

google:
  username: myusername
  password: mypassword
  spreadsheet: myspreadsheet

qbo:
  app:
    key: qyprdUdjO95dnMOlK7IyWreoVu3gqG               # Don't change
    secret: WrCyTaxwBXKAW4RaDQflHGJohZlPCP3HpDgl3QOB  # Don't change
  account:
    token: mytoken
    secret: mysecret
    realm: myrealmid
    bank_account_ids: [id1, id2, id3]
